@tailwind base;
@tailwind components;
@tailwind utilities;

.screenHeight {
	height: calc(100% - 2rem);
}

.notesPageHeight {
	height: calc(100% - 1rem);
}
.tileContainer {
	max-height: calc(100% - 8rem);
}

.textAreaPlaceholder::placeholder {
	color: #b8b8b8;
}
